@page
@model BlogSite.Pages.AboutModel
@{
    ViewData["Title"] = "About website";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <h4>About BlogSite</h4>
            <p>
                This website is a university project that I worked on during my fourth semester with a limited timeframe. Despite having other classes to attend, I devoted half of the semester to developing the website. This project was also my first attempt at working with APS.NET Core Razor Pages technology.
            </p>
            <p>
                After completing the project and analyzing its flaws, I identified several issues with the website's current architecture. If this were a real project, I would approach it differently to ensure its efficiency and effectiveness.
            </p>
            <p>
                This project is the third one that I have decided to make public on GitHub. To develop the website, I used EntityFramework Core and Newtonsoft.Json, two powerful tools that significantly contributed to its overall functionality.
            </p>
            <p class="text-end">
                26.03.2023
            </p>
    </div>
</div>
