@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Css{
    <link rel="stylesheet" href="~/css/posts_filter.css" />
    <link rel="stylesheet" href="~/css/partial_post.css"/>
}

<div class="container mt-5">
    <partial name="Components/_PostsFilter" model="@Model.FilterModel" />
    <partial name="Components/_PostsShowcase" model="@Model.PostsShowcase" />
    @if (Model.Pagination.TotalPages > 1)
    {
        <partial name="Components/_Pagination" model="@Model.Pagination"/>
    }
</div>

@section Scripts{
    <script src="~/js/posts_filter.js"></script>
    <script src="~/js/pagination.js"></script>
}
