@model bool

@if (!Model)
{
    <button id="btn-auth-follow" class="btn btn-sm btn-light rounded-3">Follow</button>
}
else
{
    <button id="btn-auth-unfollow" class="btn btn-sm btn-danger rounded-3">Unfollow</button>
}